name: scandit_flutter_datacapture_label
description: This plugin coordinates the process of simultaneously capturing data contained in multiple barcodes and text.
version: 7.4.5
homepage: https://scandit.com



environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.8.0
  scandit_flutter_datacapture_core:
    '>=7.4.5 <7.4.6'
  scandit_flutter_datacapture_barcode:
    '>=7.4.5 <7.4.6'

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: 1.0.4
  flutter_lints: 4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.scandit.datacapture.flutter.label
        pluginClass: ScanditFlutterDataCaptureLabelProxyPlugin
      ios:
        pluginClass: ScanditFlutterDataCaptureLabel
